<div class="container-fluid  text-center reception" >
  <div class="row">
    <div class="col-md-10 content animate__animated animate__fadeInLeft">

      <input type="text" class="form-control" placeholder="Поиск..." [(ngModel)]="search">

      <div class="cards">
        <div class="card animate__animated animate__fadeInDown mb-3" *ngFor="let reception of todayReceptions | search: search; index as i ">
          <div class="card-header text-white bg-primary">
            <div class="row">
              <div class=" col-md-7 text-left">
                {{reception.clientSurname}}
              </div>
              <div class=" col-md-5 text-right">
                <small>{{reception.date | date : 'dd.MM HH:mm'}}</small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">  <h6 class="card-subtitle text-left">{{reception.petName}}</h6></div>
              <div class="col-md-6 text-right"> <button class="show-btn" [id]="reception.id" (click)="toggler($event)">	&#x25BC;</button></div>
            </div>
            <div class="toggle-content displayNone" [id]="reception.id+'_toggle'" >
            <div class="card-text  animate__animated animate__fadeInDown">
              <hr>
              <div class="row">
                <div class="col-md-4 text-left">
                  <h6>Симптомы:</h6>
                  <div class="text-left symptoms">
                  {{reception.symptoms}}
                </div></div>
                <div class="col-md-4 list">
                  <div class="text-left diagnosis">
                   <h6>Диагнозы:</h6>
                  <ul class="list-group list-group-flush " *ngFor="let diagnosis of reception.diagnosis">
                    <li class="list-group-item">
                      <fa-icon [icon]="faCommentMedical"></fa-icon>
                      {{diagnosis}}</li>
                  </ul>
                </div>
                </div>
                <div class="col-md-4 text-left">
                  <ul class="list-group list-group-flush text-left" *ngFor="let service of reception.services">
                  <li class="list-group-item">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    {{service}}</li>
                </ul>
                  <ul class="list-group list-group-flush text-left material-list" *ngFor="let material of reception.materials">
                    <li class="list-group-item">
                      <fa-icon [icon]="faSyringe"></fa-icon>
                      {{material}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="card-footer">
            <div class="text-left">
              {{reception.appointment}}
            </div>
          </div>
          </div>
        </div>



        <div class="alert alert-primary  animate__animated animate__fadeInDown" *ngIf="message">{{message}}</div>
      </div>
      <div class="col-md-2 control animate__animated animate__fadeInRight" >
        <a class="btn btn-primary add-button order-1" [routerLink]="['','client-create']">Добавить</a>
        <ngb-datepicker class="order-0" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
        <button class="btn btn-primary show-all-btn" (click)="showAll()">Показать все приемы</button>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>
