.reception{
margin-top: 20px;
}

.add-button, .show-all-btn {
  border-radius: 20px ;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}


.cards{
  margin-top: 10px;
  width: 100%;
}

.card{
  margin-top: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.symptoms{
  margin-top: 5px;
}
.card-body{
  padding: 1rem;
}
.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}
.show-btn{
background: transparent;
  border: none;
  width:30px;
  height: 30px;
  text-align: center;
}

ul {
  margin-top: 5px
}

.material-list{
  margin-top: 5px;
}


.control{

  padding: 0;
}
input, a{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
.alert-light{
  margin-top: 200px;
}

ngb-datepicker{
 margin-bottom: 10px;
}
.list{
  margin-top: 10px;
}

.control{
  flex-wrap: wrap;
}


@media (max-width: 767px) {
  .control{
    order: 0
  }
  .content{
    order: 1;
  }



}
